
:root {
    --brand-color: #e53e2b;
    --brand-contrast-color: #fff;
    --text-color: #252525;
    --text-contrast-color: #fff;
}

.btn-outline-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-contrast-color);
    color: var(--text-contrast-color);
    border-radius: 0;
}

.btn-outline-primary:hover {
    background-color: var(--brand-contrast-color);
    border-color: var(--brand-contrast-color);
    color: var(--text-color);
}

.btn-primary {
    background-color: var(--brand-contrast-color);
    border-color: var(--brand-color);
    color: var(--text-color);
    border-radius: 0;
}

.btn-primary:hover {
    background-color: var(--brand-color);
    border-color: var(--brand-contrast-color);
    color: var(--text-contrast-color);
}

.jumbotron {
    height: 100vh;
    background-image: url("../images/banner2.webp");
    background-size: cover;
}

.brand-color {
    color: var(--brand-color);
}

.bg-brand-color {
    background-color: var(--brand-color);
}

.banner {
    height: auto;
    opacity: 92%;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--brand-color);
}

#categoryCarousel .card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#categoryCarousel .card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#categoryCarousel .card .card-text {
    flex-grow: 1;
}

#categoryCarousel .card .btn {
    align-self: flex-end;
    margin-top: auto;
}

.product-card {
    height: 36rem;
    display: flex;
    flex-direction: column;
}

.product-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.product-card .card-body .card-text {
    flex-grow: 1;
}

.product-card .card-img img {
    max-width: 15rem;
}

.progress {
    height: 2rem;
}

@media screen and (max-width: 768px) {
    .banner {
        height: 100vh;
    }
    
    .product-card {
        height: 100%;
    }
}